/praktikum_data_analysis_takeaways_basicPython_theme10.pdf
/praktikum_data_analysis_takeaways_basicPython_theme11.pdf
/praktikum_data_analysis_takeaways_basicPython_theme2.pdf
/praktikum_data_analysis_takeaways_basicPython_theme3.pdf
/praktikum_data_analysis_takeaways_basicPython_theme4.pdf
/praktikum_data_analysis_takeaways_basicPython_theme5.pdf
/praktikum_data_analysis_takeaways_basicPython_theme6.pdf
/praktikum_data_analysis_takeaways_basicPython_theme7.pdf
/praktikum_data_analysis_takeaways_basicPython_theme8.pdf
/praktikum_data_analysis_takeaways_basicPython_theme9.pdf
/praktikum_data_analysis_takeaways_course2_theme1 Работа с пропусками.pdf
/praktikum_data_analysis_takeaways_course2_theme2 Изменение типов данных.pdf
/praktikum_data_analysis_takeaways_course3_theme2 Изучение срезов данных.pdf
/praktikum_data_analysis_takeaways_course3_theme3 работа с источниками данных.pdf
/praktikum_data_analysis_takeaways_course3_theme4 Взаимосвязь данных.pdf
/praktikum_data_analysis_takeaways_course3_theme5 Валидация результатов.pdf
/Конспекты